<div class="nav-logo p-4 fs-4 border-bottom fw-bold border-secondary">
  <i class="fa-solid fa-money-bill-transfer nav-logo-icon"></i>
  &nbsp; &nbsp;
  <span>PayTrack</span>
</div>

<div class="navbar-middle fs-6 mt-5 text-secondary">
  <a href="/dashboard" class="rm-def-style">
    <p class="m-0 p-0 fw-bolder">
      <i class="fa-solid fa-gauge-high"></i>&nbsp; &nbsp; Dashboard
    </p>
  </a>
  <a href="/employees" class="rm-def-style">
    <p class="m-0 p-0 fw-bolder">
      <i class="fa-solid fa-user-group"></i>&nbsp; &nbsp; Employees
    </p>
  </a>
  <a href="/payments" class="rm-def-style">
    <p class="m-0 p-0 fw-bolder">
      <i class="fa-solid fa-credit-card"></i>&nbsp; &nbsp; Payments
    </p>
  </a>
  <a href="#" class="rm-def-style">
    <p class="m-0 p-0 fw-bolder">
      <i class="fa-solid fa-chart-area"></i>&nbsp; &nbsp; Reports
    </p>
  </a>
</div>

<div class="nav-foot border-top p-3 border-secondary">
  <div class="txt ps-4">ADMIN</div>
  <div class="icon"><i class="fa-solid fa-right-from-bracket"></i></div>
</div>
