<% layout("/layouts/boilerplate") %>

<div class="row p-4">
  <div class="alert alert-danger col-6 offset-2" role="alert">
    <i class="fa-solid fa-bug"></i> &nbsp; &nbsp; 
    <%= message %>
  </div>
</div>
